/**
 * Common styles for all implementations are defined in here.
 * If you want to use different styles, or use a pre-processer, feel free to do so.
 *
 */


#header {
    position: relative;
    width: 100%;    
    margin: 20px;
}

#footer {
    position: relative;
    width: 100%;
    margin: 20px;
}

#body {
    position: relative;
    width: 100%;
    margin: 20px;
}

#board {
	margin: 0 auto;
	width: 90%;
	position: relative;
}

#points {
	position: relative;
	width: 100;
}

#controls {
	position: relative;
	width: 100%;
	clear: both;
}

button {
	position: relative;
}

.tile {
	/*border: 1px solid green;*/
	position: absolute;
	display: inline-block;
	text-align: center;
}

.tile span {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	top: 45%;
}
